<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>
<%= form_for(@student) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </div>
  <div class= "field">
  <%= f.submit "Enroll" %>
  <%end%>